.task {
  margin: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
}

.input {
  margin-top: 10px;
}

.inputValue {
  width: 170px;
}

.btn {
  margin-top: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
}

.btnHistory {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.btnHistory:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
}

.result {
  margin-top: 10px;
}
